{% extends 'base.html' %}
{% load static %}
{% block home %}
<div class="container">

<div class="row" style="margin-top:20px;">
      <div class="col-6" style="margin-left:10px;width: 518px;">
       <img src= {% static "others/images/aboutus.png" %} style="width:500px;height:470px;">
      </div>
      <div class="col-6" style="width:791px;height:400px;paddiing-left:20px">
        <h1 style="text-align:center">{{article_obj_about.article_heading_name}}</h1>
        <p style="text-align:justify ;line-height: 2;font-size: 18px;"> {{article_obj_about.article_discription}} </p>      
      </div>
      
</div>
     <!-- ======= Testimonials Section ======= -->
     <br><br>
<div class="row" style="margin-top:40px">
      <div class="col">
        <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Vision</h3>
                <h4></h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{article_obj_vision.article_discription}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Mission</h3>
                <h4></h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The portal is expected to serve all MMPs as an online facilitation Centre for access to information on language technology standards, essentials of the localization processes and training being conducted by C-DAC on these topics. It will also serve as a resource Centre for essential technical documents, localization tools and web services to help developers in localization of various applications planned under their respective Mission Mode Project. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
</section><!-- End Testimonials Section -->

        </div>
     </div>
</div>


<div class="row">
    <div class="col-12">
    <section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">
    <div class="row"><h2 style="text-align:center;">Services</h2><br></div><br/>
    <div class="row">
      {% for service in services_obj %}
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">{{service.service_name}}</a></h4>
          <p class="description" style="text-align:justify">{{service.service_description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section><!-- End Featured Services Section -->
    <div>
</div>

<!---->

<div class="row">
    <div class="col-12">
    <section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <h2 style="text-align:center;">Services</h2><br>
    </div><br/>
    <div class="row">
      <div col="6" style="width:400px">
        <img src= {% static "others/images/services.png" %} style="width:500px;height:470px;">
      </div>
      <div col="6" style="width:800px;padding-left:120px">
      {% for service in services_obj %}
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">{{service.service_name}}</a></h4>
        </div>
      {% endfor %}
      </div>      
    </div>
  </div>
</section><!-- End Featured Services Section -->
    <div>
</div>

<div class="row">
<div class="col">
  <section id="faq" class="faq section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked <span>Questions</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">
             
              {% for obj in faqobj %}
              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">{{obj.faq_question}}<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    {{obj.faq_answer}}
                  </p>
                </div>
              </li>
                {% endfor %}
              
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Featured Services Section -->
</div>

</div>

{% endblock %}