{% extends 'base.html' %}
{% load static %}



  {% block index %}
  {{ block.super }}

  
 
<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-6">
     <img src= {% static "others/images/disclaimer.png" %} style="width:500px;height:300px;">
    </div>
    <div class="col-6">
      <p style="text-align:justify">

Under the National e-Governance plan project several Mission Mode Projects are initiated for providing services to the common man. Currently there are 31 Mission Mode projects encompassing Central and State and integrated ones. Several portals / sites are being designed, developed and deployed under each of the Mission Mode Projects. In order that the fruits of e-Governance reach the masses the services thus offered needs to be in ones mother tongue. India being a Multicultural, Multilingual country with 22 scheduled languages it becomes utmost crucial to provide the citizen services in the locality and in regional language.


</p> </div>
    
  </div>
   <div class="row" style="margin-top:20px;">
    <div class="col-12" >
    <p style="text-align:justify">
     In order to deliver these services in multiple languages, it is crucial to follow Internationalization / localisation standards. Standards adherence is crucial for interoperability of information and seamless access with various access devices. Several standards, best practices and guidelines needs to be in place which needs to be disseminated to the developers community, various stakeholders and more specifically the decision makers (MMP Leaders).

The www.localisation.gov.in portal is a one stop shop for relevant standards, best practices, tools and technologies for realizing the dream of localizing all the citizen services in regional languages. The portal is equipped with the above and provides assistance / information for undertaking localisation of MMPs.

Apart from standards, best practices and guidelines, the portal is currently equipped with dashboard which will reveal the usage of various standards, tools and technologies and help understand additional requirements, if any.  The Portal is also equipped with few services such as Transliteration (from English to Hindi, Bengali, Malayalam, Marathi, Punjabi and Gujarati), legacy code to Unicode convertors, JavaScript based onscreen INSCRIPT keyboard and SakalBharati Open  Type Font to start with for integration with the MMPs.

The portal is aimed at dissemination of knowledge base and also has training material for System Integrators so that standards will be followed at each stage of development.

The release of portal will encourage MMP leaders, System integrators to undertake localization of offered services in Indian language on wider scale.
 
Summary

This Localisation portal aims to be the one-stop-shop for all MMP Decision makers, E-Governance developers and System Integrators by offering

common tools,
checklists
localisation guidelines & FAQ.
We also offer consultancy for localisation needs of MMPs.
</p>
    </div>
    
    
  </div>
</div>
  {% endblock index%}

  

 